body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
}
h1 {
  display: flex;
  align-items: center;
  background-color: #3498db;
  padding: 0px;
  margin: 0 auto;
  padding: 8px;
  font-size: 16px;
  color: white;
}
main {
  padding: 4px;
}
.searchbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}
label {
  margin-top: 4px;
  font-size: 14px;
  white-space: nowrap;
}
input {
  margin-top: 4px;
  margin-left: 4px;
  padding: 0px 5px;
  height: 24px;
}

button {
  margin-top: 4px;
  margin-left: 4px;
  height: 28px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

#tableInfo {
  font-size: 14px;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 4px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 4px;
  text-align: left;
  font-size: 14px;
  text-align: center;
}

th {
  background-color: #3498db;
  color: #fff;
}

#paginationButtons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#paginationButtons button {
  width: 26px;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

#paginationButtons button:hover {
  background-color: #2980b9;
}
